# Django
DEBUG=False
SECRET_KEY=change-me-to-a-long-random-string
ALLOWED_HOSTS=localhost,127.0.0.1

# MySQL 
DB_NAME=transcoder_db
DB_USER=root
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=3306

GOOGLE_APPLICATION_CREDENTIALS_HOST=/absolute/path/to/gcp-service-account.json

# Google Cloud
GCP_PROJECT_ID=your-gcp-project-id
GCP_LOCATION=europe-west4
GCS_BUCKET_NAME=your-gcs-bucket-name

#AWS S3 Configuration
AWS_ACCESS_KEY_ID=your-aws-key-id
AWS_SECRET_ACCESS_KEY=your-awa-secret-access-key
AWS_BUCKET_NAME=aws-bucket-name
AWS_REGION=aws-region
# Celery 
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0